<div class="card">
    <div data-th-include="score/scoreAdd"></div>
    <div class="card-block">
        <div class="table-responsive">
            <div id="data-table_wrapper" class="dataTables_wrapper">
                <div class="dataTables_buttons hidden-sm-down actions">
                    <span class="actions__item zmdi zmdi-search" onclick="search()" title="搜索" />
                    <span class="actions__item zmdi zmdi-refresh-alt" onclick="refresh()" title="刷新" />
                    <div class="dropdown actions__item">
                        <i data-toggle="dropdown" class="zmdi zmdi-download"></i>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item" data-table-action="excel"  onclick="exportScoreExcel()">
		                    	Excel (.xlsx)
		                	</a>
                            <a href="javascript:void(0)" class="dropdown-item" data-table-action="csv"  onclick="exportScoreCsv()">
		                    	CSV (.csv)
		                	</a>
                        </ul>
                    </div>
                    <div class="dropdown actions__item" sec:authorize="hasAnyAuthority('score:add','score:delete','score:update')">
                        <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item" data-toggle="modal" data-target="#score-add" sec:authorize="hasAuthority('score:add')">新增分数</a>
                            <a href="javascript:void(0)" class="dropdown-item" onclick="updateScore()" sec:authorize="hasAuthority('score:update')">修改分数</a>
                            <a href="javascript:void(0)" class="dropdown-item" onclick="deleteScores();" sec:authorize="hasAuthority('score:delete')">删除分数</a>
                        </div>
                    </div>
                </div>
                <div id="data-table_filter" class="dataTables_filter">
                    <form class="score-table-form">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">
					               	学生：
					                </span>
                                    <div class="form-group">
                                        <input type="text" name="username" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                <span class="input-group-addon">
					               	年级：
					            </span>
                                    <div class="form-group">
                                        <select  name="gradeId" class="form-control">
                                            <option value="">请选择</option>
                                            <optgroup label="小学">
                                                <option value="1">一年级</option>
                                                <option value="2">二年级</option>
                                                <option value="3">三年级</option>
                                                <option value="4">四年级</option>
                                                <option value="5">五年级</option>
                                                <option value="6">六年级</option>
                                            </optgroup>
                                            <optgroup label="初中">
                                                <option value="7">初一</option>
                                                <option value="8">初二</option>
                                                <option value="9">初三</option>
                                            </optgroup>
                                            <optgroup label="高中">
                                                <option value="7">高一</option>
                                                <option value="8">高二</option>
                                                <option value="9">高三</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
              <table id="scoreTable" data-mobile-responsive="true" class="mb-bootstrap-table text-nowrap" ></table>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/score/score.js}"></script>
<script data-th-src="@{js/app/score/scoreEdit.js}"></script>